@import '../../../helper.scss';

.back-btn {
  @include flex($ver: center);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: weight(bold);
  color: color(main);
  gap: 0.5em;

  span {
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
  }

  &:active {
    transform: scale(0.95);
  }
}
