@import '../../../helper.scss';

.card {
  aspect-ratio: 1.582 / 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0.15rem 0.3rem 0.5rem rgba(black, 0.5);

  color: white;

  .icon {
    fill: white;
  }
}
