@import './helper.scss';

:root {
  --vh: 1vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

html {
  font-size: 62.5%;

  @include query(height) {
    font-size: 53%;
  }
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100) !important;
  @include flex-center;
  font-family: Quicksand, sans-serif;
  font-size: 1.8rem;
  font-weight: weight(medium);
}

button {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  @include flex-center;
}
